{% for categorie in categories %}

     <div class="panel panel-default">
         <div class="panel-heading">
             <h4 class="panel-title">
                 <a href="{{ path('categorieProduits',{'categorie':categorie.id})}}">{{ categorie.nom }}</a>
             </h4>
         </div>
     </div>

 {% endfor %}